.back-text {
  color: black;
  cursor: pointer;
}

.back-div {
  text-align: center;
  text-decoration: underline;
  padding: 10px;
}

.mat-toolbar.mat-primary{
  border-radius: 40px;
}

.err-div{

}

.err-msg{
  color: red;
}






/* .login{
    margin: auto;
    padding:30px;
    width: 300px;
    height:350px;
    overflow:hidden;
    background:#3f51b5;
    border-radius:10px;
    color: white;
    overflow: hidden;
}
.form-control{
width: auto;
margin-left: 25px;
}
label{
margin-left: 10px;
} 
h2{
font-size: 2rem;
text-align: center;
margin: 1.5rem;
}
.col-sm-5{
    padding-left: 0px;
}
.mat-flat-button{
background-color: white;
    margin: 10px 10px 10px 80px;
} */

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem;
}

.login-container {
  width: 100%;
  align-items: center;
  display: flex;
}

form {
  width: 100%;
}

.login-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.login-toolbar {
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  display: block;
}

.mat-raised-button {
  width: 100%;
  margin-top: 15px;
}
