/* .Wrapper{
    background-color: bisque;
    box-sizing: border-box;
    background-size: cover;
}
h1{
    text-align: center;
}
#intro{
margin: 10 0 0 px  ;
padding: 10 10px;
}
#register{
    margin: 25px;
    
}
#contact{
    margin: 25px;
}
#about{
    margin: 25px;
} */

